# Active Git Submodules
[submodule "packages/sdlc-config"]
	path = packages/sdlc-config
	url = https://github.com/ChaseNoCap/sdlc-config.git
[submodule "packages/di-framework"]
	path = packages/di-framework
	url = https://github.com/ChaseNoCap/di-framework.git
